<div class="container-big-card">
  <div class="big-card-photo">
    <img src="https://staticg.sportskeeda.com/editor/2021/09/6efb1-16323149808667-800.jpg?w=840" alt=""
    height="250px"
    srcset=""
    >
  </div>

  <div class="big-card-title">
    <h1>
      <a href="#">
        Saiu a nova skin da ovelha do minecraft
      </a>
    </h1>
  </div>
  <div class="big-card-description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas est elit, luctus nec ligula vitae, posuere fringilla urna.
      </a>
    </p>
  </div>
</div>
