
<header>
  <app-menu-bar linkedin="https://www.linkedin.com/in/PauloRoberto-Gasp" gitHub="https://github.com/Gasppr" gitLab="https://gitlab.com/PauloRoberto_Gaspp"></app-menu-bar>
</header>

<router-outlet></router-outlet>

<footer>

  <div class="social-medias">
    <p>Social medias</p>
    <app-menu-bar linkedin="https://www.linkedin.com/in/PauloRoberto-Gasp" gitHub="https://github.com/Gasppr" gitLab="https://gitlab.com/PauloRoberto_Gaspp"></app-menu-bar>
  </div>

  <div class="about">
    <p>About:</p>
    <p>Este é um projeto do bootcamp angular do Banco Pan ;) </p>
  </div>

</footer>

