.container-content{

  width: 100%;
  
  display: flex;
  flex-direction: column;

  margin-top: 15px;
  align-items: center;
}


.content-cover > img{
  margin-top: 20px;
  width: 500px;
  border-radius: 5px;
  min-width: 500px;
  height: 300px;
}

.content-title{

  margin-left: 50vh;
  margin-right: 50vh;
  margin-top: 10px;


}

.content-description {
  margin-top: 15px;
}

.content-description > p{

  color: gray;
  margin-top: 20px;
}


.content-text {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  margin-left: 20vh;
  margin-right: 20vh;

}
